<style>
/* 
author: Tomi Amao
Descroption: Styling for league of legends selector webstie */




html.body {
    height: 100%;
    margin: 0px
}

body {
    background-color: #84adcc29;
    background-image: url("https://images3.alphacoders.com/129/1291921.jpg");
    background-size: cover;
}



input {
    border: 1px solid #dce5dc;
    padding: 8px;
    margin-left: 40%;

}

input [placeholder] {
    border: 1px solid #204b20;
}

form {
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px #3e8e41;
    background: #d0d8d0;
    color: #3e8e41;
    padding: 8px;
    margin-left: 0%;


}

#champimage {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

div.gallery {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.gallery:hover {
    background-color: #3e8e41;
    border: 1px solid #777;
}

div.gallery img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.desc {
    margin-left: 30%;
    padding: 15px;
    text-align: left;
}

div.desc3 {
    transition: background-color 1s;
    margin-top: -10%;
    margin-left: 50%;
    padding: 15px;
    text-align: left;
}

#champBlurb {
    text-align: center;
    background-color: rgba(223, 234, 226, 0.648);
    border-radius: 4px;
    padding: 8px;

}

#champTitle {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-bottom: 0%;
    margin-top: -4px;
    font-size: 30px;
}



#Title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center
}

#champBlurb {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 50px;
}


div.info {
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 10px;
}

.list {
    max-height: 40px;
}

div.desc2 {
    padding: 15px;
    text-align: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#stats {
    text-align: inherit;
    font-size: medium;
    margin-top: 0%;
}

</style>